<ion-view style="" class=" " id="page8" title="Function call">
    <ion-content class="has-header" padding="true">
        <form class="list " id="functionCall-form5">
            <label id="functionCall-select2" class="item item-select ">
                <span class="input-label">Caller</span>
                <select id="functionCaller"></select>
            </label>
            <label id="functionCall-input6" class="item item-input ">
                <span class="input-label">Contract address</span>
                <input placeholder="" type="text" id="contractAddr">
            </label>
            <label id="functionCall-input8" class="item item-input ">
                <span class="input-label">Contract ABI</span>
                <input placeholder="" type="text" id="contractAbi">
            </label>
            <label id="functionCall-input9" class="item item-input ">
                <span class="input-label">Function name</span>
                <input placeholder="" type="text" id="functionName">
            </label>
            <label id="functionCall-input10" class="item item-input ">
                <span class="input-label">Function arguments</span>
                <input placeholder="" type="text" id="functionArgs">
            </label>
            <label id="functionCall-input11" class="item item-input ">
                <span class="input-label">Ether</span>
                <input placeholder="" type="text" id="sendValueAmount">
            </label>
        </form>
        <button class=" button button-positive  button-block " id="functionCall-button9" onclick="functionCall()">Call function</button>
    </ion-content>
</ion-view>