

<ion-view style="" class=" " id="page2" title="New Account">
    <ion-content class="has-header" padding="true">
        <form class="list " id="newWallet-form1">
            <label id="newWallet-input1" class="item item-input ">
                <!--<span class="input-label">Type random text to gen entropy</span>
                <input placeholder="" type="text" id="userEntropy">-->
            </label>
        </form>
        <button class=" button button-positive  button-block " id="newWallet-button1" onclick="newWallet()" >Create new wallet</button>
        <div id="newWallet-card23" class="list card ">
            <ion-item style="" id="newWallet-list-item6" class="item-icon-left  ">
                <i class="icon ion-information-circled"></i>Seed</ion-item>
            <div style="" id="newWallet-list-item-container3" class="item item-body ">
                <!--<p class=" " style="margin-top:0px;color:#000000;" id="newWallet-markdown1">Some friendly
                    <strong>markdown</strong>-->
                </p>
                
                
                <p class=" " style="margin-top:0px;color:#000000;" id="newWallet-markdown1"><div id="newSeed"></div><br />Addresses:<br /><div id="newWalletAddress"></div></p>
            </div>
            <ion-item style="" id="newWallet-list-item7" class="item-icon-left assertive  ">
                <i class="icon ion-lock-combination"></i>Wallet address</ion-item>
        </div>
    </ion-content>
</ion-view>