<ion-view style="" class=" " id="page3" title="Restore Wallet">
    <ion-content class="has-header" padding="true">
        <form class="list " id="restoreWallet-form3">
            <label id="restoreWallet-input3" class="item item-input ">
                <span class="input-label">Digite as 12 palavras secretas</span>
                <input placeholder="" type="text">
            </label>
        </form>
        <button class=" button button-positive  button-block " id="restoreWallet-button3" onclick="setSeed()">Enviar</button>
        <div id="restoreWallet-card22" class="list card ">
            <ion-item style="" id="restoreWallet-list-item4" class="item-icon-left  ">
                <i class="icon ion-information-circled"></i>Seed</ion-item>
            <div style="" id="restoreWallet-list-item-container2" class="item item-body ">
                <p class=" " style="margin-top:0px;color:#000000;" id="restoreWallet-markdown2">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item style="" id="restoreWallet-list-item5" class="item-icon-left assertive  ">
                <i class="icon ion-lock-combination"></i>Palavras chave</ion-item>
        </div>
    </ion-content>
</ion-view>