<ion-view style="" class=" " id="page4" title="Send Ether">
    <ion-content class="has-header" padding="true">
        <form class="list " id="sendEther-form4">
            <label id="sendEther-select1" class="item item-select ">
                <span class="input-label">From</span>
                <select id="sendFrom"></select>
            </label>
            <label id="sendEther-input4" class="item item-input ">
                <span class="input-label">To</span>
                <input id="sendTo" placeholder="" type="text">
            </label>
            <label id="sendEther-input5" class="item item-input ">
                <span class="input-label">Ether</span>
                <input id="sendValueAmount" placeholder="" type="text">
            </label>
        </form>
        <button class=" button button-positive  button-block " id="sendEther-button4" onclick="sendEth()">Send ether</button>
    </ion-content>
</ion-view>