<ion-view style="" class=" " id="page7" title="Show Addresses">
    <ion-content class="has-header" padding="true">
        <div id="showAddresses-card24" class="list card ">
            <ion-item style="" id="showAddresses-list-item8" class="item-icon-left  ">
                <i class="icon ion-ios-personadd-outline"></i>Seed</ion-item>
            <div style="" id="showAddresses-list-item-container5" class="item item-body ">
                <!--<p class=" " style="margin-top:0px;color:#000000;" id="showAddresses-markdown1">Some friendly
                    <strong>markdown</strong>

                </p>-->
                <p class=" " style="margin-top:0px;color:#000000;" id="showAddresses-markdown1"><div id="showSeed2"></div>Addresses: <br /><div id="showAddress2"></div><br />Whisper:<br /><div id="showWhisperID2"></div></p>     
         
            </div>
            <ion-item style="" id="showAddresses-list-item9" class="item-icon-left positive  ">
                <i class="icon ion-more"></i>Addresses</ion-item>
        </div>
        <div id="addr"></div>
    </ion-content>
</ion-view>